body{
    font-family: Segoe UI;
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: 0 auto ;
}
.header{
    background-color: #2C8391;
    color: white;
}
.header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    width: 20%;
}
.menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.menu ul a{
    text-decoration: none;
    color: white;
}



.form{
    width: 40%;
    margin: 0 auto;
}